<?xml version="1.0" encoding="utf-8"?>
<!--
Web.Release.config - Production transformations for Azure deployment
This file defines the transformations to apply to Web.config when deploying in Release mode
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- Connection String Transformation -->
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=tcp:connect2usserver.database.windows.net,1433;Initial Catalog=Connect2US;Persist Security Info=False;User ID=Connect_Admin;Password=Test@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <!-- Application Settings Transformations -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Production Stripe Keys - Replace with actual production keys -->
    <add key="StripePublishableKey" value="pk_live_REPLACE_WITH_PRODUCTION_KEY" />
    <add key="StripeSecretKey" value="sk_live_REPLACE_WITH_PRODUCTION_KEY" />
    <add key="StripeEnabled" value="true" />
    
    <!-- Production Settings -->
    <add key="Environment" value="Production" />
    <add key="EnableDetailedErrors" value="false" />
  </appSettings>
  
  <!-- System.Web Transformations -->
  <system.web xdt:Transform="Replace">
    <authentication mode="None" />
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" executionTimeout="3600" />
    
    <!-- Custom Errors for Production -->
    <customErrors mode="On" defaultRedirect="~/Error/General">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/ServerError" />
    </customErrors>
    
    <!-- Session State -->
    <sessionState mode="InProc" timeout="60" />
    
    <!-- Security Settings -->
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <pages validateRequest="true" enableEventValidation="true" viewStateEncryptionMode="Always">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  
  <!-- System.WebServer Transformations -->
  <system.webServer xdt:Transform="Replace">
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    
    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Redirect HTTP to HTTPS -->
        <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Remove trailing slash -->
        <rule name="RemoveTrailingSlashRule" enabled="true" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Static Content Compression -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Request Filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".asp" allowed="false" />
          <add fileExtension=".aspx" allowed="false" />
          <add fileExtension=".config" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  
  <!-- Entity Framework Transformations -->
  <entityFramework xdt:Transform="Replace">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Connect2Us._2.Models.ApplicationDbContext, Connect2Us.2">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Connect2Us._2.Models.ApplicationDbContext, Connect2Us.2], [Connect2Us._2.Migrations.Configuration, Connect2Us.2]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
  
  <!-- SMTP Settings for Production -->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="noreply@connect2us.com">
        <network host="smtp.sendgrid.net" port="587" userName="apikey" password="REPLACE_WITH_SENDGRID_API_KEY" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>
